/* You can add global styles to this file, and also import other style files */
@import "variables";


html, body {
  margin: 0;
  padding: 0;
  background: $darkBackground;
  color: $lightTextColor;

  font-family: $roboto;
}

p.header, span.header {
  width: 90%;
  margin: 0 0;
  text-align: left;
  font-size: 0.8rem;
  border-bottom: $borderStyle;
  pointer-events: none;
  //font-weight: bold;
}

div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.hidden {
  //display: none;
  height: 1rem;
  overflow:hidden;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
