<ng-template #leftTemplate>
  <app-info-block></app-info-block>
  <app-info-block></app-info-block>
  <app-info-block></app-info-block>
</ng-template>

<ng-template #chat>
  <app-chat [messages]="messages" [messageSendHandler]="this.chatService"></app-chat>
</ng-template>

<ng-template #centralTemplate>
  <app-info-block [infoBlockName]="'Chat'" [infoTemplate]="chat" [display]="true"></app-info-block>
  <app-info-block [infoBlockName]="'Unit control'"></app-info-block>
</ng-template>

<ng-template #rightTemplate>
  <app-info-block></app-info-block>
  <app-info-block></app-info-block>

</ng-template>


<div class="canvas-container">
  <app-canvas-view [game]="game"></app-canvas-view>
</div>

<div class="gui-container">
  <app-gui-column [ngClass]="'press-left'" id="left-col" [innerContentTemplate]="leftTemplate"></app-gui-column>
  <app-gui-column [ngClass]="'central'" id="center-col" [innerContentTemplate]="centralTemplate"
                  [isBottomed]="true"></app-gui-column>
  <app-gui-column [ngClass]="'press-right'" id="right-col" [innerContentTemplate]="rightTemplate"></app-gui-column>
</div>
