@import "../../variables";


.chat-container {
  display: flex;
  background: $lighterBackground;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.chat-container input[type="text"] {
  display: block;
  width: 90%;
  border: none;
  border-top: $borderStyle;
  border-radius: 10px;
  margin: 3px;
  padding: 4px 8px 4px 10px;
  background: $lightBackground;
  color: $lightTextColor;

  font-size: 1.2rem;
  height: 1.5rem;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.chat-container input[type="button"] {
  display: block;
  align-self: center;
  width: fit-content;
  background: $lighterBackground;
  color: $lightTextColor;
  border: $borderStyle;
  border-radius: $borderBigRadius;
  height: 1.5rem;
}

.chat-messages {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 30vh;
  min-height: 30vh;
}


