@import "../../variables.scss";

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  margin: auto;

  height: 100%;
  width: 100%;
  min-width: 100px;
  background: rgb(60,60,60);
}



