@import "../../variables.scss";


.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;

  margin: auto;

  height: 100%;
  width: 100%;
  min-width: 100px;
  background: $transparent;
}


.bottomed{
  justify-content: flex-end;
}


