@import "../../variables";

:host {
  width: 100%;
  margin: 0;
  padding: 0;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;

  background: $lighterBackground;
  border: $borderStyle;
  border-radius: 5px;
  margin: $blockMargin;

  padding: $blockPadding;

  width: 95%;
  min-height: fit-content;

  pointer-events: auto;
}
